:host
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;
}
.kux-scrollbar-box
{
    position: relative;
    top: 0;
    right: -20px;
    bottom: -20px;
    left: 0;

    overflow-x: auto;
    overflow-y: auto;

    height: 100%;
    margin-right: -20px;
    margin-bottom: -20px;
    padding-bottom: 20px;
}
:host:hover >>> .kux-scrollbar-content
{
    opacity: 1;
}
