*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
}
button
{
    height: 28px;
    padding-left: 10px;

    cursor: pointer;
    text-align: left;

    color: #333;
    border: #d3d3d3 solid 1px;
    border-radius: 4px;
    background: #fff;
}
button:fucus
{
    color: #333;
}
:host.disabled >>> .kux-select-btn
{
    background-color: #f1f1f1;
}
